.titulo-principal {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 15rem;
  color: rgb(237, 229, 188);
}

@media screen and (max-width: 768px) {
  .titulo-principal {
    margin-left: 0;
    margin-top: 2rem;
    font-size: 2rem;
  }
}
